<header>
  <nav class="header-nav">
    <a href="/" class="header-title">Booketeria</a>
    <ul>
      <li>
        <a href="/authors">Authors</a>
      </li>
      <li >
        <a href="/authors/new">Add Author</a>
      </li>
      <li>
        <a href="/books">Our Books</a>
      </li>
      <li>
        <a href="/books/new">Add Book</a>
      </li>
    </ul>
  </nav>  
</header>